In [1]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
import re
import pandas as pd

In [2]:
mydata = pd.read_excel("Book1.xlsx",sheetname= "Sheet1")

In [3]:
del mydata['Unnamed: 3']

In [4]:
mydata.head(1)

,Row Labels,Net Sales £,Margin %,Supplier Name,Cost Centre Description,Line Nett Amount,Discount
0,Ipswich (TCF),434.57,-0.108889,FLOWERS BY GAIL,Ballyclare,45,NaN

In [5]:
mymargins = mydata[[0,1,2]]

In [6]:
mymargins = mymargins.dropna()

In [7]:
mymargins.head(1)

      Row Labels  Net Sales £  Margin %
0  Ipswich (TCF)       434.57 -0.108889

In [8]:
myflowers = mydata[[3,4,5]]

In [9]:
myflowers.head(1)

     Supplier Name         Cost Centre Description  Line Nett Amount
0  FLOWERS BY GAIL  Ballyclare                                    45

In [11]:
choices = {mymargins['Row Labels'].iloc[i] : mymargins['Margin %'].iloc[i] for i in range(mymargins.shape[0])}
def matching (x):
    x = str(x)
    return choices[process.extractOne(x, choices.keys())[0]] 
def matching1 (x):
    x = str(x)
    return process.extractOne(x, choices.keys())[1] 
def matching2 (x):
    x = str(x)
    return process.extractOne(x, choices.keys())[0]
#,str(choices[y[0]]),str(y[1])

In [12]:
myflowers['discount'] = myflowers["Cost Centre Description"].apply(lambda x: matching(x))
myflowers['score'] = myflowers["Cost Centre Description"].apply(lambda x: matching1(x))
myflowers['key'] = myflowers["Cost Centre Description"].apply(lambda x: matching2(x))

C:\Users\Shobeir\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\Shobeir\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\Shobeir\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [13]:
myflowers.head(1)

,Supplier Name,Cost Centre Description,Line Nett Amount,discount,score,key
0,FLOWERS BY GAIL,Ballyclare,45,0.124868,90,Ballyclare (TCF)

In [14]:
myflowers.to_excel("Final_Output.xlsx",index=None)

In [16]:
?myflowers.apply